#header{
    border-bottom: 2px solid rgb(248, 244, 244);

}

#subtitle{
      text-shadow: 1.5px 1.5px black;
}

#sk-image{
   width:80px;
   height:80px;
   border-radius: 50px;
}

#content{
    background-color: white;
}

#title{
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

